#available_stocks{
    width: 50%;
    float: left;

}
.stock{
    color: white;
    margin: 1px;
    border: 10px;
    height: 50px;
    background-color:darkblue;
}

#analytics{
    float: right;
    width: 50%;
}
#analytics_heading{
    text-align: center;
}